[Interface]
PrivateKey = {{ wg_client_privkey.stdout }}
ListenPort = 51821

[Peer]
PublicKey = {{ wg_server_pubkey.stdout }}
AllowedIPs = {{ tunnel_server_ip }}/32, {{ tunnel_server_ip6 }}/128
Endpoint = {{ underlay_server_ip }}:51820
