name: Docs

on:
  push:
    branches: [main]
    paths: ['**/*.md']
  pull_request:
    branches: [main]
    paths: ['**/*.md']
  workflow_dispatch:

jobs:
  markdown-link-check:
    name: Markdown Link Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check markdown links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.github/markdown-link-check.json'
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
